# Virtual environment.
sentinelvenv/
.vscode

# Python cache files.
__pycache__/

.idea/other.xml
.idea/geospatial-analysis-using-python.iml
.idea/other.xml
.idea/
.idea/geospatial-analysis-using-python.iml
